body {
  background-image: url("./BG_Layer_1.png");
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
 }

.navlink{
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: tan;
}

.navIcon{
  background-color: tan;
  border-radius: 5px;
  margin-left: 20px;
}

.navlink:hover{
  border-bottom: 1.5px solid white;
  border-radius: 5px;
  color: white;
}

.navIcon:hover{
  background-color: white;
  color: white;
}

.sticky-nav {
  top: 0;
}

h3{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
  color: tan;
}

h1{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.555);
  animation: .5s ease-out 0s 1 slideInFromBack;
  text-shadow: -2px 2px 2px tan;
}

.parallax{
  width:100%;
}

.transparent{
  opacity: 0.8;
  filter: alpha(opacity=80);
}

p{
  font-size: 1em;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tile{
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20;
  padding: 1rem;
  animation: 1s ease-out 0s 1 slideInFromBack;
  margin-top: 4em;
}

.about{
  margin-top: 15em;
  padding-bottom: 10rem;
  margin-bottom: 30em;
}

.portfolio{
  margin-top: -8rem;
  padding-bottom: 3rem;
}

.App-link {
  color: #61dafb;
}

.bg_layer{
  width:100%;
}

.photography{
  margin-top: -20em;
}

@media only screen and (min-width: 800px) {
  body{
    background-size: 100%;
  }
  p{
    font-size: 1.5em;
  }
  .vidTitle{
    margin-top: -10em;
    margin-bottom: 10em;
  }
}

@media only screen and (max-width: 800px) {
  body{
    background-size: 800px 475%;
  }
  p{
    font-size: 1em;
  }
  .vidTitle{
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer_foreground {
  transform: translateZ(.5px) scale(.5);
}

.parallax_layer_midground {
  transform: translateZ(-.5px) scale(1.5);
 
}

.parallax_layer_background {
  transform: translateZ(-1px) scale(2);
  
}

.parallax_layer_way_back {
  transform: translateZ(-2px) scale(3);
}

.content_img{
  margin-top: 3rem;
  width: 100%;
}

.portrait{
  width:100%;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vidTitle{
  margin-top: 5em;
  margin-bottom: 5em;
}

@media only screen and (min-width: 1500px) {
  .videowrapper{
    margin-top: -5em;
  }
}

@media only screen and (max-width: 1200px) {
  .photography{
    margin-top: -30em;
      -webkit-transform-origin-y: 0;
  }
}


  @keyframes slideInFromBack {
    0% {
      opacity: 0.5;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }