body {
  background-image: url("./BG_Layer_1.png");
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;

 }

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.navlink{
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: tan;
  
}

.navlink:hover{
  border-bottom: 1px solid white;
  border-radius: 1px;
  color: white;
}


h3{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
  color: tan;
}

.parallax{
  transform: width(100%);
}

.transparent{
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.App-link {
  color: #61dafb;
}

@media only screen and (min-width: 800px) {
  body{
    background-size: 100% 400%;
  }
}

@media only screen and (max-width: 800px) {
  body{
    background-size: 800px 475%;
  }
  .bg_layer{
    width:800px;
    height:100%;
  }
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

